/* ============================= */
/* Hollywood Boulevard Page */
/* ============================= */


body {

    background: black;

}

/* ============================= */
/* HB Hero */
/* ============================= */


.hb-hero {

    height: 100vh;

    position: relative;

    overflow: hidden;

}



/* Video container */

.hb-video-container {

    position: absolute;

    inset: 0;

    width: 100%;

    height: 100%;

}



/* Bunny Stream iframe */

.hb-video-container iframe {

    width: 100%;

    height: 100%;

    border: 0;

    display: block;

}



/* Dark gradient */

.hb-hero::after {

    content: "";

    position: absolute;

    inset: 0;

    background: linear-gradient(
        to top,
        rgba(0,0,0,.7),
        transparent 60%
    );

    pointer-events: none;

}



/* Title */

.hb-title {

    position: absolute;

    left: 8vw;

    bottom: 80px;

    z-index: 2;

    color: white;

    transition: opacity .5s ease, transform .5s ease;

}



.hb-title h1 {

    font-size: clamp(4rem,8vw,7rem);

    font-weight: 800;

    line-height: .9;

    letter-spacing: -4px;

}


.hb-title p {

    margin-top:20px;

    font-size:1.2rem;

    font-weight:700;

}



/* Hide title while playing */


.hb-title.hide {

    opacity:0;

    transform:translateY(20px);

    pointer-events: none;

}

/* ============================= */
/* Credits Section */
/* ============================= */


.hb-credits {

    padding:120px 8vw;

    background:black;

    border-top:1px solid rgba(255,255,255,.2);

}



/* Synopsis */


.hb-synopsis {

    max-width:700px;

    margin-bottom:100px;

}



.hb-synopsis h2 {

    font-size:3rem;

    letter-spacing:-2px;

    margin-bottom:30px;

}



.hb-synopsis p {

    font-size:1.3rem;

    line-height:1.6;

    font-weight:500;

}



/* Credits */


.hb-credit-grid {

    display:grid;

    grid-template-columns:repeat(2, 1fr);

    gap:60px;

}



.hb-credit-item h3 {

    font-size:.85rem;

    text-transform:uppercase;

    opacity:.5;

    margin-bottom:12px;

}



.hb-credit-item p {

    font-size:1.3rem;

    font-weight:700;

}

/* ============================= */
/* about Section */
/* ============================= */


.hb-directors-note {

    padding:120px 8vw;

    background:black;

    border-top:1px solid rgba(255,255,255,.2);

    display:flex;

    justify-content:center;

}



/* Director's note */


.hb-note-content {

    max-width:750px;

    text-align: center;

}



.hb-note-content h2 {

    font-size:3rem;

    letter-spacing:-2px;

    margin-bottom:30px;

}



.hb-note-content p {

    max-width:750px;

    font-size:1.3rem;

    line-height:1.6;

    font-weight:500;

    text-align: justify;

}



/* Extras*/


.hb-extra-grid {

    display:grid;

    grid-template-columns:repeat(2, 1fr);

    gap:60px;

}



.hb-extra-item h3 {

    font-size:.85rem;

    text-transform:uppercase;

    opacity:.5;

    margin-bottom:12px;

}



.hb-extra-item p {

    font-size:1.3rem;

    font-weight:700;

}