/* ============================= */
/* StobieScope */
/* ============================= */


body {

    background:black;

}

.scope-hero {

    position:relative;

    height:100vh;

    width:100%;

    overflow:hidden;

    display:flex;

    align-items:center;

    justify-content:center;

}

.scope-title {

    position:absolute;

    top:30px;

    left:50%;

    transform:translateX(-50%);

    color:white;

    font-size:1.1rem;

    font-weight:800;

    letter-spacing:-0.5px;

    z-index:20;

}

/* ============================= */
/* Hero Slideshow */
/* ============================= */

/* Dark overlay */


.scope-overlay{

    position:absolute;
    inset:0;

    background:linear-gradient(
        to bottom,
        rgba(0,0,0,.15),
        rgba(0,0,0,.45)
    );

    z-index:1;

}

.scope-slideshow{

    position:absolute;
    inset:0;

    z-index:0;

}

.scope-slide{

    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    opacity:0;

    transition:opacity 2s ease-in-out;

    filter:brightness(.75);

}

.scope-slide.active{

    opacity:1;

}

/* Vertical Dots */

.scope-dots {

    position: absolute;

    left: 60px;
    bottom: 90px;   /* Adjust this value to move them up/down */

    display: flex;
    flex-direction: column;

    gap: 14px;

    z-index: 10;

}

.scope-dot{

    width:10px;
    height:10px;

    border-radius:50%;

    border:none;

    background:white;

    opacity:.35;

    cursor:pointer;

    transition:.3s;

}

.scope-dot.active{

    opacity:1;

    transform:scale(1.5);

}


/* Hero text */


.scope-hero-content {

    position:relative;

    z-index:3;

    color:white;

    max-width:800px;
    text-align: center;

}



.scope-hero-content h1 {

    font-size:clamp(2rem,4vw,4rem);

    font-weight:800;

    letter-spacing:-2px;

}



.scope-hero-content p {

    margin-top:25px;

    font-size:1.3rem;

    font-weight:700;

}





/* ============================= */
/* Image Wall */
/* ============================= */


.scope-wall {

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

    padding:0 8vw 120px;

}



.scope-card {

    display:block;
    width: 50%;
    margin: 0 auto;
    overflow:hidden;

}



.scope-card img {

    width:100%;

    aspect-ratio:1 / 1;

    object-fit:cover;

    display:block;

    transition:transform .4s ease;

}



.scope-card:hover img {

    transform:scale(1.04);

}

/* Scroll Arrow */

.scroll-arrow{

    position:absolute;

    left:50px;
    bottom:40px;

    color:white;

    font-size:2rem;

    text-decoration:none;

    animation:bounce 2s infinite;

    z-index:10;

}